#root {
  margin: 0;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.centerAlign{
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #0600ef;
}
.link:hover {
  cursor: pointer;
  color: #02013d;
  background-color: #7195f7;
}
button:hover {
  cursor: pointer;
}
.hamburger {
  border: none;
  padding: 0%;
  background: none;
  font-size: 1em;
}
.menuDropdownList {
  position: fixed;
  top: 36px;
  right: 0px;
  width: max-content;
}
.menuDropdownItem {
  list-style: none;
  border: 2px solid #04009d;
  background-color: rgb(192, 190, 190);
  padding: 4px 12px;
  font-size: 1em;
  font-weight: 600;
}
.headerContainer {
  z-index: 2;
  position: fixed;
  background: rgb(192, 190, 190, .5);
  backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  width:100%;
}
.header {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0600ef;
  padding: 1.5vh 4vw;
  height: fit-content;
}
.headerIcon {
  color: #04009d;
}
.headerIcon:hover {
  color: #02013d;
}
.appBody{
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 32px;
  left: 0;
}
.homeContainer{
  display: flex;
  flex-direction: column;
}
.generalInfo {
  width: 100%;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  color: #7195f7;
}
.generalHeading1{
  padding: 2vh 1vw;
  margin-bottom: 0;
}
.generalHeading2{
  padding: 0vh 2vw;
  margin: 0;
}
.articleContainer {
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
}
img {
  width: 90vw;
}
.button {
  font-size: 1.4em;
  font-weight: 700;
  background-color: #D9D9D9;
  padding: 0.5vh 16vw;
  border: 2px solid #04009D;
  border-radius: 16px;
}
.articleTitle {
  font-size: 6vw;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
.articleContent {
  font-size: 1.5em;
}
.homeContainer {
  margin-top: 0vh;
}
  
@media (max-width: 800px) {}
