.App {
  background-color: azure;
  padding: 5%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width: 400px) {
  .App-header {
    width: 1fr;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    padding: 1vh 4vw;
    color: #0600ef;
    background: rgba(229, 229, 229, 0.5);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }
  .Header-icon {
    color: #04009d;
  }
  .articleContainer {
    display: flex;
    flex-direction: column;
    margin: 3vh 0;
  }
  .articleImg img {
    width: 100%;
  }
  .articleTitle {
    font-size: 6vw;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }
  .articleContent {
    font-size: 1.5em;
  }
}
